.toggle-switch,
.toggle-switch .toggle-knob {
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.toggle-switch {
	height: 30px;
	width: 55px;
	display: inline-block;
	background-color: #ffffff;
	margin: 2px;
	margin-bottom: 5px;
	border-radius: 30px;
	cursor: pointer;
	border: solid 1px #d2d6de;
	box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08),
		1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
	width: 28px;
	height: 26px;
	display: inline-block;
	background-color: #ffffff;
	border: solid 1px rgba(126, 126, 126, 0.07);
	box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26),
		0 5px 1px rgba(107, 106, 106, 0.13);
	border-radius: 26px;
	margin: 1px 1px;
}

.toggle-switch.active {
	background-color: #77e189;
	border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
	margin-left: 24px;
}

.night-mode {
	background-color: black;
}
